Prendere in considerazione le informazioni presenti al link

https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/consegne-vaccini-latest.csv

riguardanti le consegne dei vaccini in varie regioni d'Italia. Scrivere un notebook che permetta di
effettuare le seguenti analisi su questi dati:

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/consegne-vaccini-latest.csv')
df

,area,forn,numero_dosi,data_consegna,N1,N2,ISTAT,reg
0,ABR,Pfizer/BioNTech,135,2020-12-27,ITF,ITF1,13,Abruzzo
1,ABR,Pfizer/BioNTech,7800,2020-12-30,ITF,ITF1,13,Abruzzo
2,ABR,Pfizer/BioNTech,3900,2021-01-05,ITF,ITF1,13,Abruzzo
3,ABR,Pfizer/BioNTech,3900,2021-01-07,ITF,ITF1,13,Abruzzo
4,ABR,Pfizer/BioNTech,3900,2021-01-11,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...
7571,VEN,Moderna,72600,2022-09-26,ITH,ITH3,5,Veneto
7572,VEN,Pfizer/BioNTech,77760,2022-10-20,ITH,ITH3,5,Veneto
7573,VEN,Pfizer Pediatrico,38400,2022-10-31,ITH,ITH3,5,Veneto
7574,VEN,Pfizer/BioNTech,77760,2022-11-15,ITH,ITH3,5,Veneto
7575,VEN,Pfizer Pediatrico,4800,2022-11-23,ITH,ITH3,5,Veneto

1. visualizzare il numero totale di record presenti nel file

In [ ]:
len(df)

In [ ]:
df.count()

2. visualizzare il numero di record presenti relativi ad una regione inserita dall'utente

In [ ]:
input_utente = input('Inserisci una regione: ')
df[df['reg'] == input_utente].count()

3. modificare l'esercizio precedente per rispondere con un messaggio appropriato se la regione non è presente

In [ ]:
input_utente = input('Inserisci una regione: ')
if input_utente not in list(df['reg']):
  print("La regione non esiste")
else:
  print(df[df['reg'] == input_utente].count())

4. visualizzare il numero totale di vaccini consegnati in una regione inserita dall'utente

In [ ]:
input_utente2 = input('Inserisci una regione: ')

df.groupby(df['reg'][df['reg'] == input_utente2])['numero_dosi'].sum()

5. visualizzare il numero totale di vaccini per ogni fornitore

In [ ]:
df.groupby('forn')[['numero_dosi']].sum().sort_values(by='numero_dosi',ascending=False).reset_index()

6. visualizzare il numero di vaccini per ogni fornitore di una regione inserita dall'utente. Ordinare in ordine
decrescente sul numero di vaccini

In [ ]:
input_utente3 = input('Inserisci una regione: ')
df.groupby(df['forn'][df['reg'] == input_utente2])[['numero_dosi']].sum().sort_values('numero_dosi', ascending=False).reset_index()

7. visualizzare le informazioni dell'esercizio 6 con un grafico a barre verticali e uno a barre orizzontali. Indicare in modo appropriato il titolo, la legenda e le informazioni presenti negli assi

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df_graph = df.groupby(df['forn'][df['reg'] == 'Veneto'])[['numero_dosi']].sum().sort_values('numero_dosi', ascending=False).reset_index()
df_graph

                      forn  numero_dosi
0          Pfizer/BioNTech      8858754
1                  Moderna      2264209
2  Vaxzevria (AstraZeneca)       929079
3        Pfizer Pediatrico       627600
4                  Janssen       103000
5                  Novavax        83200

In [ ]:
fig,ax = plt.subplots(figsize=(10,8))
ax.bar(df_graph['forn'], df_graph['numero_dosi'], label='Numero vaccinati.')
ax.set_ylabel('Numero dosi')
ax.set_xlabel('Fornitori')
ax.set_title('Numero di vaccini per ogni fornitore di una regione inserita.')
ax.legend()

plt.xticks(rotation=90, fontsize=15)

In [ ]:
fig,ax = plt.subplots(figsize=(10,8))
ax.barh(df_graph['forn'],df_graph['numero_dosi'],label='Numero vaccinati')
ax.set_xlabel('Numero dosi')
ax.set_ylabel('Fornitori')
ax.set_title('Numero di vaccini per ogni fornitore di una regione inserita.')
ax.legend()

8. visualizzare le informazioni dell'esercizio 6 con un grafico a torta

In [ ]:
plt.figure(figsize=(10,8))
plt.pie(df_graph['numero_dosi'],labels=df_graph['forn'], autopct='%1.1f%%')
plt.show()

NameError: ignored

9. visualizzare le informazioni dell'esercizio 6 con un grafico treemap (cercare su internet)

In [ ]:
!ls

In [ ]:
import squarify

squarify.plot(sizes=df_graph['numero_dosi'], label=df_graph['forn'], alpha=.8, color=['blue','red','yellow'] )
plt.show()

10. visualizzare i nomi delle tre regioni in cui sono stati consegnati più vaccini

In [ ]:
df_graph[:3]

11. visualizzare i nomi delle regioni in cui sono stati consegnati un numero di vaccini inferiore alla media dei vaccini consegnati nelle regioni

In [ ]:
df_graph[df_graph['numero_dosi'] < df_graph['numero_dosi'].mean()][['reg']]

12. visualizzare il grafico delle consegne dei vaccini in Lombardia e nel Lazio. Visualizzare solo i dati delle
consegne avvenute negli ultimi sei mesi. Fare in modo che la data sia determinata in modo automatico (cercare su internet)